@using TreeViewMVCAngularJS.Models
@model PositionViewModel

<form id="editPositionForm" ng-submit="submitEditForm()">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(t => t.PositionId, new { @id = "positionIdHidden" })
    <fieldset>
        <!-- Form Name -->
        <div><div class="float-left">Edit Position</div><a href="" anchorhref="/Position/Delete?positionId=@Model.PositionId" class="fa fa-trash-alt right" ng-click="deleteClick($event)" parent-id="@Model.ParentId" style="color:darkblue"></a></div>
            <!-- Text input-->
            <div class="form-group row">
                <label class="col-md-2 control-label">@Html.DisplayNameFor(t => t.PositionName)</label>
                <div class="col-md-2">
                    @Html.TextBoxFor(t => t.PositionName, new { @placeholder = "Position Name", @class = "form-control input-md", @required = "" })
                    <div class="text-red">
                        @Html.ValidationMessageFor(t => t.PositionName)
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 control-label">@Html.DisplayNameFor(t => t.Department)</label>
                <div class="col-md-2">
                    @Html.DropDownListFor(t => t.DepartmentId, Model.DepartmentList, "Select Department", new { @class = "form-control input-md", @required = "" })
                    <div class="text-red">
                        @Html.ValidationMessageFor(t => t.DepartmentId)
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 control-label">@Html.DisplayNameFor(t => t.ParentId)</label>
                <div class="col-md-2">
                    @Html.DropDownListFor(t => t.ParentId, Model.PositionList, "Select Superior", new { @class = "form-control input-md" })
                    <div class="text-red">
                        @Html.ValidationMessageFor(t => t.ParentId)
                    </div>
                </div>
            </div>
            <!-- Check input-->
            <div class="form-group row">
                <label class="col-md-2 control-label">@Html.DisplayNameFor(t => t.IsActive)</label>
                <div class="col-md-2">
                    @Html.CheckBox("IsActive", Model.IsActive)
                    <div class="text-red">
                        @Html.ValidationMessageFor(t => t.IsActive)
                    </div>
                </div>
            </div>
            <!-- Button -->
            <div class="form-group row">
                <label class="col-md-2 control-label" for="btnSave"></label>
                <div class="col-md-2">
                    <button id="btnSave" name="Save" class="btn btn-primary">Save</button>
                </div>
            </div>
    </fieldset>
</form>

